
b.month-picker {
    position:relative; /*this is the key*/
    z-index:24;
	background-color:#ccc;
    color:#000;
    text-decoration:none
}

input.month-picker  {
    width:6em !important;
    text-align:center;
}

input.month-picker + span {
	display: none
}

input.month-picker + span button {
	text-align:center;
	width: 3em; 
	height: 2em;
}
input.month-picker + span select {
	margin:.5em;
}

input.month-picker.focus + span, 
input.month-picker:focus + span, 
input.month-picker + span:hover{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    width:12em;
    top:2em;
    left:-.8em;
    background-color:#ddd;
    text-align: center;
	padding:6px;
	border-radius: 5px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4), 0 4px 20px rgba(0, 0, 0, 0.33);
}

b.month-picker ul li label {
    font-family: Arial,Helvetica,sans-serif;
    font-size: .9em;
	float:left;
	margin: 2px !important;  
}
input[type=radio] {
    opacity:0;
	margin:0 -18px 0 0;
}

input[type=radio]+span {
 font: 13px/20px 'Lucida Grande',Tahoma,Verdana,sans-serif;
    -moz-box-sizing: content-box;
    background: linear-gradient(to bottom, #F1F1F1, #DFDFDF 70%, #DADADA) repeat scroll 0 0 #DFDFDF;
    border-color: #CECECE #BABABA #A8A8A8;

    border-style: solid;
    color: #555555;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.em;
    outline: 0 none;
    text-decoration: none;
    text-shadow: 0 1px #FFFFFF;
    text-transform: capitalize;
    height: 1.em;
	width:2em;
	
/**/
    border-radius: 3px;
    border-width: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px #FFFFFF;
	margin: 2px 6px;
    padding: 1px 9px 0;
    vertical-align: -5px;
}

input[type=radio]:checked+span {
    background: none repeat scroll 0 0 #DFDFDF;
    border-top-color: #C9C9C9;

    border-radius: 3px 3px 2px 2px;
    border-width: 1px 1px 0;
    box-shadow: 0 1px #FDFDFD inset, 0 0 0 1px #EAEAEA inset, 0 1px #A8A8A8, 0 3px #BBBBBB, 0 4px #A8A8A8, 0 5px 2px rgba(0, 0, 0, 0.25);
    margin:  -2px 6px 4px 6px;
    padding: 0 8px 1px;
    vertical-align: baseline;
    color:#06A35F;
}

b.month-picker input.month-picker {
width:6em;
}

b.month-picker ul {
    padding: 0;
}
b.month-picker li {
list-style-type:none;
display:inline-block;
margin: 2px;
}
